

#welcomeText, #welcomeUserText{
    -fx-font-size: 32px; 
    -fx-font-family: Helvetica;
    -fx-font-weight: normal;
}

#dateText {
    -fx-font-size: 18px; 
    -fx-font-family: Helvetica;
}

#inputGrid {
    -fx-padding: 100px;
    -fx-border-insets: 100px;
    -fx-background-insets: 100px;
}

#headerPane, #landingPageWindow {
    -fx-background-color: #FFD124;

}

#rightPane, #navigationPane, #bottomPane, #tasksPane  {
    -fx-background-color: white;
}

#navTab {
    -fx-outline-style: solid;
    -fx-outline-color: black;
    -fx-background-color: transparent;
    -fx-font-size: 18px; 
}

#tasksPane {
    -fx-padding-right: 20px;
    -fx-background-color: EEEEEE;
    -fx-border-radius: 5px;   
}

#taskHeaderRow {
    -fx-background-color: gray;
    -fx-border-style: solid;
    -fx-border-color: dimgray;
    -fx-border-width: 3px;
}

#taskColumnHeaderLabels {
    -fx-padding: 20px;
    -fx-font-size: 16px; 
    -fx-text-fill: white;   
}

#taskNodeContainer {
    -fx-background-color: dimgray;
    -fx-border-radius: 10px; 
    -fx-padding: 10px;
    -fx-text-fill: white;   
}

