

#welcomeText, #welcomeUserText{
    -fx-font-size: 32px; 
    -fx-font-family: Helvetica;
    -fx-font-weight: normal;
}

#dateText {
    -fx-font-size: 18px; 
    -fx-font-family: Helvetica;
}

#inputGrid {
    -fx-padding: 100px;
    -fx-border-insets: 100px;
    -fx-background-insets: 100px;
}

#headerPane {
    -fx-padding: 20px;
    -fx-background-color: lightblue;

}

#navigationPane {
    -fx-padding: 20px;
    -fx-background-color: lightblue;

}

#navTab {
    -fx-outline-style: solid;
    -fx-outline-color: black;
    -fx-background-color: transparent;
    -fx-font-size: 18px; 
}

#logoutButton {

}

#tasksPane {
    -fx-padding-right: 20px;
    -fx-background-color: lightgray;
    
}

#taskHeaderBackground {
    -fx-background-color: gray;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#taskColumnHeaderLabels {
    -fx-padding: 100px;
    -fx-margin:50px;
    -fx-font-size: 16px; 
    -fx-text-fill: white;
    
    
}


